.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  margin: 1.5rem 0;
  width: 50%;
}

.container h2 {
  border-bottom: 1px solid teal;
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}
