<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="description"
      content="Nominate your top 5 movies with The Shoppies and share it to your friends !"
    />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link href="http://fonts.cdnfonts.com/css/aller" rel="preload" as="font" />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
